@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Cormorant', serif;
    background: linear-gradient(55deg,#110103, #07240b, #040404, #450b32);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


  }
  .background-1{
    background: linear-gradient(244deg,#110103, #07240b, #040404, #450b32);
  
  }
  input,
  button {
    border: none;
    outline: none;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  /* HEADER & NAV */
//   .search,
//   .login {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1000;
//     background-color: var(--searc-color);
//     backdrop-filter: blur(24px);
//     padding: 8rem 1.5rem 0;
//     opacity: 0;
//     pointer-events: none;
//     transition: opacity 0.4s;
//   }
//   .search__close,
//   .login__close {
//     position: absolute;
//     top: 2rem;
//     right: 2rem;
//     font-size: 1.5rem;
//     color: var(--main-color);
//     cursor: pointer;
//   }
  .header {
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.134);
    /* box-shadow: 0 2px 16px rgb(126, 72, 72); */
  }
  .nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    // justify-content: space-between;
    align-items: center;
  }
  .nav__logo {
    color: var(--logo-color);
    transition: color 0.4s;
  }
  .nav__actions {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    & a{
        color: rgba(67,255,210,1);
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;

    }
  }
  .nav__search,
  .nav__login,
  .nav__toggle,
  .nav__close {
    font-size: 1.25rem;
    color: var(--purp-color);
    cursor: pointer;
    transition: color 0.4s;
  }
  :is(.nav__logo, .nav__search, .nav__login, .nav__toogle, .nav__link):hover {
    color: var(--blu-color);
  }
.index-head-1-btn{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
  .index-head-1{
 
    
    & .index-head-1-img{
        background-image: url(../../src/img/m.png);
        width: 100%;
        height: 1000px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & img{
            width: 100%;
            background:linear-gradient( rgba(4, 10, 10, 0),
            rgba(4, 10, 10, 1));
        }

        & .index-head-1-text{
            display: flex;
            justify-content: center;
            flex-direction: column;
            &   h1{
                font-size: 130px;
                color: white;
                line-height: 121.1px;
                letter-spacing: 30px;
                font-weight: 300;
                text-align: center;
                margin-bottom: 100px;
             }

             
             & p{
                color: white;
                font-weight: 600;
                font-size: 15px;
                // text-align: center;
                margin-bottom: 50px;

             }

             & button{
                width: 255px;
                height: 50px;
                background-color:rgba(67, 255, 210, 1);
                border: none;
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                
             }

        }
          
    }
  }
  .index-head-1-overlay{
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, #040A0A 100%);
    
  }
  .index-head-2-textone{

    & h2{
      color: #fff;
      font-family: Cormorant;
  font-size: 100px;
  font-weight: 400;
  line-height: 121px;
  letter-spacing: 0.02em;
  text-align: left;
    }


  }

  .boxes{
display: grid;
grid-template-rows: 100px 100px 100px 100px 100px 100px;
// grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
gap: 20px;
  }
  .item{
    margin-right: 10px;
    // background-color: rebeccapurple;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    // padding: 20px;
  }
  .item-1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    padding: 30px;
    color: white;

    & p{
      margin-bottom: 45px;
    }
  }
  .item-2{
    grid-area: 2/5/4/4;
    margin-top: -70px;
    margin-bottom: 72px;
    padding: 20px;

    & ul{
      list-style: unset;
      padding: 17px;
    }
    & li{
      color: #fff;
    }
    
    & h3{
      
      font-family: Oswald;
font-size: 30px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.04em;
text-align: left;
color: rgba(67, 255, 210, 1);
margin-bottom: 20px;
    }

    & .item-2-text{
      color: rgba(217, 120, 172, 1);
      display: flex;
    justify-content: end;

    }
  }
  .item-3{
    grid-area: 4/1/-1/4;
    margin-top: -120px;
    margin-bottom: 237px;
    margin-right: 80px;
    padding: 20px;

    & h3{
      
      font-family: Oswald;
font-size: 30px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.04em;
text-align: left;
color: rgba(67, 255, 210, 1);
margin-bottom: 20px;
    }

    & ul{
      list-style: unset;
      color: #fff;
      padding: 14px;
    }

    & .item-2-text{
      color: rgba(217, 120, 172, 1);
      display: flex;
    justify-content: end;

    }
    
    }
    .item-4{
      grid-area: 4/4/-1/4;
      margin-top: -78px;
      margin-bottom: 215px;
      margin-left: -86px;
      padding: 20px;

      & h3{
      
        font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(67, 255, 210, 1);
  margin-bottom: 20px;
      }
  
      & ul{
        list-style: unset;
        color: #fff;
        padding: 14px;
      }
  
      & .item-2-text{
        color: rgba(217, 120, 172, 1);
        display: flex;
      justify-content: end;
  
      }
      }

// -----SWİPER---START----

      .swiper {
        width: 100%;
        height: 100%;
        // border-radius: 27px;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .name{
        color: #333;
      
      font-family: "San Francisco";
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 95%; /* 22.8px */
      }
      
      .swiper {
        width: 100%;
        height: 100%;
        margin: 20px auto;
      }
      
      .append-buttons {
        text-align: center;
        margin-top: 20px;
      }
      
      .append-buttons button {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #007aff;
        color: #007aff;
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 4px;
        margin: 0 10px;
        font-size: 13px;
      }
      
      .cardOne-content {
        display: flex;
        // flex-direction: column;
        // align-items: center;
        padding: 10px 0;
        display: flex;
        flex-direction: column;

        & h2{
          color: #fff;
          font-family: Oswald;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.04em;
text-align: left;
text-transform: uppercase;
margin-bottom: 15px;

        }

        & p{
          color: #fff;
          font-family: Oswald;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.04em;
text-align: left;
margin-bottom: 15px;

        }

        & a{
          text-align: start;
        }
        & button{
          width: 220px;
height: 50px;
top: 3139px;
left: 545px;
border: 0.5px;
background: transparent;
color: #fff;
border: .5px solid #FFFFFF;

        }
      }
      

// -----SWİPER---END----

      
      
      

.wrapper {
  max-width: 1200px;
  position: relative;
  margin-top: 2rem;
}
.wrapper i {
  top: 50%;
  position: absolute;
  /* height: 46px;
  width: 46px; */
  text-align: center;
  line-height: 46px;
  /* background-color: #fff; */
  border-radius: 50%;
  font-size: 1.2rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.wrapper i:first-child {
  left: -88px;
  // display: none;
}
.wrapper i:last-child {
  right: -88px;
}
.wrapper .carousel {
  white-space: nowrap;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 340px;
  object-fit: cover;
  margin: 40px;
  margin-left: 14px;
  // width: calc(100% / 3);
}
.carousel img:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
  .index-head-3{
    padding: 0 30px;
  }
  .wrapper i:last-child {
    right: -39px;
}
.wrapper i:first-child {
  left: -42px;
}
svg{
  // width: 37px;
  // height: 10px;
}
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
.index-head-3 .index-head-3-1{
  font-family: Cormorant;
font-size: 100px;
font-weight: 400;
line-height: 121px;
letter-spacing: 0.02em;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.index-head-3 .index-head-3-2{
  color: rgb(255, 255, 255);
font-family: Cormorant;
font-size: 100px;
font-weight: 400;
line-height: 121px;
letter-spacing: 2%;
text-align: center;
text-transform: uppercase;
}
.index-head-3 .index-head-3-3{
  color: rgb(255, 255, 255);
font-family: Oswald;
font-size: 20px;
font-weight: 300;
line-height: 30px;
letter-spacing: 2%;
text-align: center;
}
.index-head-3{
  background-image: url(../img/back.png);
  backdrop-filter: brightness(0.2);
  background-position: left;
  background-position: right;
  background-size: 81%;
  background-repeat: no-repeat;
}
.an{
  /* Ellipse 34 */
  position: absolute;
  width: 342px;
  height: 227px;
  left: 65.42px;
  right: 560.59px;
  top: 623px;
  bottom: 3432.11px;
  transform: rotate(60.83deg);
  filter: blur(155px);
  background: rgb(67 255 210 / 62%);
}
